/*手机进入*/
@keyframes pandain {
    0% {
        left: -60%;
        top: -250px;
        opacity: 0.5;
        transform: rotate(-90deg) scale(0.2);
    }
    50% {
        top: -200px;
        transform: rotate(0deg) scale(0.2);
        left: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        transform: scale(1);
    }
}

/*开机文字*/
.panda-poweron-text .text-p {
    animation: powerontextp 751ms linear;
}

@keyframes powerontextp {
    100% {
        transform: rotate(360deg);
        left: 75px;
        top: 0
    }
    0% {
        transform: rotate(0deg);
        left: -20px;
        top: -240px
    }
}

.panda-poweron-text .text-a {
    animation: powerontexta 751ms linear;
}

@keyframes powerontexta {
    100% {
        transform: rotate(360deg);
        left: 96px;
        top: 0
    }
    0% {
        transform: rotate(0deg);
        left: -20px;
        top: 200px
    }
}

.panda-poweron-text .text-nd {
    animation: powerontextnd 751ms linear;
}

@keyframes powerontextnd {
    100% {
        font-size: 26px;
        transform: rotate(0deg);
    }
    0% {
        font-size: 0;
        transform: rotate(360deg);
    }
}

.panda-poweron-text .text-j {
    animation: powerontextj 751ms linear;
}

@keyframes powerontextj {
    100% {
        transform: rotate(360deg);
        left: 170px;
        top: 0
    }
    0% {
        transform: rotate(0deg);
        left: 278px;
        top: 220px
    }
}

.panda-poweron-text .text-s {
    animation: powerontexts 751ms linear;
}

@keyframes powerontexts {
    100% {
        transform: rotate(300deg);
        left: 185px;
        top: 0
    }
    0% {
        transform: rotate(0deg);
        left: 278px;
        top: -240px
    }
}

/*开机中文字*/
@keyframes poweroningtext {
    100% {
        transform: scaleY(1);
        top: 280px;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    0% {
        transform: scaleY(0);
        top: 262px;
        opacity: 0;
    }
}

/*熊猫卡通进入*/

@keyframes cartoonin {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(0.3);
    }
}

/*进入桌面*/

@keyframes homein {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(0.3);
    }
}

/*进入menuout*/

@keyframes menuout {
    0% {
        bottom: -90px;
    }
    100% {
        bottom: 0;
    }
}

/*文字slide（类iphone的slide to unlock）*/
@keyframes textslide {
    0% {
        background-position: 100px 0;
    }
    40% {
        background-position: 440px 0;
    }
    100% {
        background-position: 440px 0;
    }
}

/*屏幕圆动画*/
@keyframes shadowcircle {
    0% {
        box-shadow: rgba(255, 255, 255, 0.1) 160px 335px, rgba(255, 255, 255, 0.1) 120px 275px 0 12px, rgba(255, 255, 255, 0.1) 60px 355px 0 23px, rgba(255, 255, 255, 0.1) 230px 445px 0 -8px, rgba(255, 255, 255, 0.1) 60px 125px, rgba(255, 255, 255, 0.1) 260px 145px 0 12px, rgba(255, 255, 255, 0.1) 300px 145px 0 23px, rgba(255, 255, 255, 0.1) 100px 85px 0 -8px, rgba(255, 255, 255, 0.1) 350px 555px, rgba(255, 255, 255, 0.1) 350px 273px 0 -2px, rgba(255, 255, 255, 0.1) 150px 355px 0 23px, rgba(255, 255, 255, 0.1) 180px 205px 0 -8px, rgba(255, 255, 255, 0.1) 0px 0px 0 -8px, rgba(255, 255, 255, 0.1) 100px 555px 0 10px;
    }
    100% {
        box-shadow: rgba(255, 255, 255, 0.1) 70px 10px, rgba(255, 255, 255, 0.1) 300px 205px 0 12px, rgba(255, 255, 255, 0.1) 0px 155px 0 23px, rgba(255, 255, 255, 0.1) 330px 45px 0 -8px, rgba(255, 255, 255, 0.1) 460px 325px, rgba(255, 255, 255, 0.1) 0px 445px 0 12px, rgba(255, 255, 255, 0.1) 300px 145px 0 23px, rgba(255, 255, 255, 0.1) 100px 85px 0 -8px, rgba(255, 255, 255, 0.1) 50px 155px, rgba(255, 255, 255, 0.1) 150px 273px 0 -2px, rgba(255, 255, 255, 0.1) 0px 555px 0 23px, rgba(255, 255, 255, 0.1) 180px 5px 0 -8px, rgba(255, 255, 255, 0.1) 300px 555px 0 -8px, rgba(255, 255, 255, 0.1) 350px 355px 0 10px;
    }
}
